/*

  Dropbutton
  ==========================================================================
  
  The drop-down element most commonly used to edit/devel/delete.

*/

.dropbutton-wrapper {}

.dropbutton-widget {
  border-radius: 3px;
  border: 1px solid $fjord;

  ul.dropbutton a,
  button[type=button] {
    padding: 4px;
  }
}
