/*

  Forms & Form Elements
  ==========================================================================

  Note: It's possible this will need to be partial'd in the future.

*/

.form-item {
  margin-top: 24px;
  margin-bottom: 24px;

  label {
    padding-right: 12px;
    font-family: $sans;
    font-size: 16px;
    font-weight: bold;
    color: $midnight;
  }
  
  input,
  textarea {
    @include boxy();
    padding: 6px 12px 6px 8px;
    background: #FFF;
    font-family: $serif;
  }

  select {
    @include boxy();
    box-shadow: none;
  }
  
  .form-textarea-wrapper {
    padding-top: 12px;
  }
  
  textarea {} // textarea

  .form-required:after {
    width: 8px;
    height: 8px;
    background-size: 100%;
  }

  .description {    // Help-text
    font-size: 14px;
    color: $fjord;
    &:before {
      content: 'Hint: ';
      font-weight: bold;
    }
  }

  // Submit-elements are handled in the _dropbutton.scss partial, for now.

} // .form-item




