/*

  Tabs
  ==========================================================================

  Styling for tabs.

*/

nav.tabs {
  margin-bottom: 24px;
  border-bottom: 1px solid $cobalt;
  transition: $trans-fast;

  ul.primary {
    margin: 0;
    padding: 24px 0 0 0;

    li {
      background: $glass;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      a {
        color: $cobalt;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &:hover {
          background: $cobalt;
          color: #FFF;
        }
      }

      &.is-active a {
        margin-bottom: -1px;
        background: lighten($cobalt, 20%);
        color: #FFF;
        border: 1px solid $cobalt;
        border-bottom: 1px solid lighten($cobalt, 20%);
        
        &:hover {
          background: $cobalt;
          border-bottom: 1px solid $cobalt;
        }
      }
    } // li
  } // primary
} // tabs

.reset-appearance {
  display: none;
}