/*

  Tabs
  ==========================================================================

  Styling for tabs.

*/

nav.tabs {
  margin-bottom: 24px;
  border-bottom: 1px solid $cobalt;

  ul.primary {
    margin: 0;
    padding: 24px 0 0 0;

    li {
      background: $glass;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      a {
        color: $cobalt;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      &.is-active a {
        background: $cobalt;
        color: #FFF;
      }
    } // li
  } // primary
} // tabs