/*

  Views
  ==========================================================================

  Styles for the various administrative Views (content overview)

*/

.view-id-content {
  transition: $trans-med;

  // Header Components
  .view-filters {

    .form--inline {
      
      .form-item {
        margin-top: 12px;
        margin-bottom: 0;
        padding-bottom: 12px;
        padding-right: 36px;
        line-height: 24px;

        >label {
          font-size: 18px;
          vertical-align: middle;
        }

        input[type=text],
        textarea {
          font-size: 18px;
          line-height: 24px;
        }
      } // Form Item

      .form-actions {
        padding: 24px 0 48px 0;
        display: flex;
        align-items: flex-start;

        #edit-submit-content {
          @include button($blue, light);
        }

        #edit-reset {
          @include button($berry, light);
        }


      }

    } // Form--Inline 
  }  // View-Filters

  // Meat & Potatoes
  .views-table {
    width: 100%;

    thead {
      background: rgba(0, 0, 0, 0.025);
      border-bottom: 1px solid #CFCFCF;
    }

    thead th {
      padding: 8px;
    }

    tbody>tr:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.025);
    }

    td {
      padding: 8px;
      &.is-active {
        background-color: rgba(0, 0, 0, 0.033);
      }
    }

    // table-level:
    tr td:first-child,
    tr th:first-child {
      padding: 0 8px;
    }

    tbody tr:hover {
      transition: $trans-fast;
      background: lighten($glass, 10%);
    }

    // table-child-elements:
    .form-type-checkbox {
      margin: 1em;
    }
  } // Views-Table

}
