/*

  Views
  ==========================================================================

  Styles for the various administrative Views (content overview)

*/

.view-id-content {

  // Header Components
  .view-filters {

  }  // View-Filters

  // Meat & Potatoes
  .views-table {
    width: 100%;

    thead {
      background: rgba(0, 0, 0, 0.025);
      border-bottom: 1px solid #CFCFCF;
    }

    thead th {
      padding: 8px;
    }

    tbody>tr:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.025);
    }

    td {
      padding: 8px;
      &.is-active {
        background-color: rgba(0, 0, 0, 0.033);
      }
    }

    // table-level:
    tr td:first-child,
    tr th:first-child {
      padding: 0 8px;
    }

    tbody tr:hover {
      background: $glass;
    }

    // table-child-elements:
    .form-type-checkbox {
      margin: 1em;
    }
  } // Views-Table

}
