/*

  Base
  ==========================================================================

  Styling for base HTML elements.

*/

a {
  color: $cobalt;
  transition: 150ms all ease-in-out;
  &:hover {
    color: $orange;
  }
}
