/*

  Forms & Form Elements
  ==========================================================================

  Note: It's possible this will need to be partial'd in the future.

*/

.form-item {
  label {
    font-size: 16px;
  }
}

select {
  padding: 2px;
}
