/*

  Vars
  ==========================================================================

  Here we define the variables for use in the site, such as font-size, colors,
  font-family, measurements, and layout options.

*/

// Colors
// ==========================================================================
// Spoiler: White is used.

$charcoal:      #21272b;    // Rarely used, mostly for accents to $midnight el's
$midnight:      #333d44;    // Considered "darkest background"
$fjord:         #475765;    // Accompanying shade to $midnight
$crystal:       #c2d2dd;    // Pleasant light share, can be bg
$glass:         #e1ebf2;    // Accompanying shade to $crystal, hilight
$lava:          #ad4000;    // Slightly muted hilight
$orange:        #e15300;    // Accompanying $lava
$grass:         #4d882a;    // Slightly muted hilight
$lime:          #76bc4c;    // Accompanying $grass
$cobalt:        #247dcb;    // Slightly muted hilight
$azure:         #3aa2fc;    // Accompanying $cobalt


// Type
// ==========================================================================

$serif: 'PT Serif', serif;
$sans: 'Open Sans', sans-serif;


// Susy
// ==========================================================================
// Running with the defaults for now.

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);


// Layout
// ==========================================================================

$wide:      1280px;

