/*

  Vars
  ==========================================================================

  Here we define the variables for use in the site, such as font-size, colors,
  font-family, measurements, and layout options.

*/

//  Colors
// ==========================================================================

$midnight:      #333d44;
$fjord:         #475765;
$crystal:       #c2d2dd;
$glass:         #e1ebf2;
// Spoiler: white is used.
$lava:          #ad4000;
$orange:        #e15300;
$grass:         #4d882a;
$lime:          #76bc4c;
$cobalt:        #247dcb;
$azure:         #3aa2fc;
