/*

  Main
  ==========================================================================

  Establishing overall layout styles. Mostly reserved for top-level wrappers.

*/

body {
  background: $midnight;
  font-family: $serif;
}

.layout-container {
  @include container();
  margin-left: gutter(2);
  margin-right: gutter(2);
  background: #FFF;
  margin-top: 12px;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid $midnight;
}
