/*

  Main
  ==========================================================================

  Establishing overall layout styles. Mostly reserved for top-level wrappers.

*/

body {
  background: $midnight;
  font-family: $sans;
}

.layout-container {
  @include container($wide);
  margin-top: 12px;
  padding: 20px;
  color: #333;
  background: #F1F1F1;
  border: 1px solid $midnight;
  border-radius: 3px;
}
